.services{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffeeff;
}
.services.ar{
    font-family: "Tajawal", sans-serif;
    direction: rtl;
}
.services .servicesCards{
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 60px 20px;
    margin-top: 80px;
}
.services .servicesCards .card{
    text-decoration: none;
    position: relative;
    color: var(--text-color);
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 6px;
    padding: 50px 20px 20px;
    box-shadow: var(--main-shadow);
    /* height: fit-content; */
    transition: var(--main-transition);
}
.services .servicesCards .card span{
    transition: var(--main-transition);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    color: var(--logo-color);
    background-color: #fff;
    width: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    box-shadow: var(--main-shadow);
    /* padding: 16px; */
}
.services .servicesCards .card:hover span{
    background-color: var(--logo-color);
    color: #fff;
}
.services .servicesCards .card h3{
    text-transform: uppercase;
    margin-bottom: 6px;
}
.services .servicesCards .card p{
    font-size: 14px;
    max-height: 0;
    max-height: 500px;
    overflow: hidden;
    color: var(--p-color);
    transition: var(--main-transition);
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
.services .servicesCards .card:hover p{
    max-height: 500px;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
@media (max-width: 1200px) {
    .services .servicesCards{
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}
@media (max-width: 992px) {
    .services .servicesCards{
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    .services .servicesCards .card{
        height: unset;
    }
    .services .servicesCards .card span{
        background-color: var(--logo-color);
        color: #fff;
    }
    .services .servicesCards .card p{
        max-height: 500px;
    }
}
@media (max-width: 767px) {
    .services .servicesCards{
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}